---
import type { GetStaticPaths } from "astro";
import MainLayout from "@layouts/MainLayout.astro";
import PokemonCard from "@components/PokemonCard.astro";
import TitlePage from "@components/common/TitlePage.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await resp.json()) as PokemonResponse;
  return paginate(results, { pageSize: 15 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<MainLayout title="Pokémons">
  <TitlePage title="Listado Pokémons" />
  <section
    aria-label="Listado de Pokémons"
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 mt-4"
  >
    {page.data.map((pokemon) => <PokemonCard pokemon={pokemon} />)}
  </section>
  <section class="flex justify-between items-center, gap-2 mt-5">
    <a class:list={["btn", { disabled: !page.url.prev }]} href={page.url.prev}>
      Anteriores
    </a>
    <span class="font-bold">{`Página ${page.currentPage}`}</span>
    <a class:list={["btn", { disabled: !page.url.next }]} href={page.url.next}
      >Siguientes</a
    >
  </section>
</MainLayout>

<style>
  @reference "@styles/global.css";

  .btn {
    @apply bg-blue-700 text-white rounded-sm py-1 px-2;
  }
  .disabled {
    @apply bg-gray-700 text-gray-400;
  }
</style>
