---
import PokemonCard from "./PokemonCard.astro";
import TitlePage from "./common/TitlePage.astro";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await resp.json()) as PokemonResponse;
---

<TitlePage title="Listado de Pokémons" />
<section
  aria-label="Listado de Pokémons"
  class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 mt-4"
>
  {data.results.map((pokemon) => <PokemonCard pokemon={pokemon} />)}
</section>
